examples/Hadoop/myExamples/tf-idf/.classpath
examples/Spark/simpleapp/.classpath
examples/Spark/simpleapp/.project
examples/Spark/simpleapp/.settings/
examples/Spark/simpleapp-python/log
examples/Lambdas/.classpath
examples/Lambdas/.project
examples/Spark/pagerank/.classpath
examples/Spark/pagerank/.project
examples/Spark/top-n-patents/.classpath
examples/Spark/top-n-patents/.project
examples/Spark/correlation/.classpath
examples/Spark/correlation/.project
examples/Spark/etext-all/
examples/Spark/spark-sql-example/.classpath
examples/Spark/spark-sql-example/.project
examples/Spark/spark-sql-example/log
examples/Spark/spark-sql-example/metastore_db/
examples/Spark/spark-sql-example/spark-warehouse
examples/Spark/ml/.classpath
examples/Spark/ml/.project
examples/Hadoop/myExamples/inverted-index/.settings/
examples/Hadoop/myExamples/top-n-movies-v1/.settings/
examples/Hadoop/myExamples/tf-idf/output/
examples/Hadoop/myExamples/word-count/output/
