examples/Hadoop/myExamples/tf-idf/.classpath
examples/Spark/simpleapp/.classpath
examples/Spark/simpleapp/.gitignore
examples/Spark/simpleapp/.project
examples/Spark/simpleapp/.settings/
examples/Lambdas/.classpath
examples/Lambdas/.project
