examples/Hadoop/myExamples/tf-idf/.classpath
examples/Spark/simpleapp/.classpath
examples/Spark/simpleapp/.gitignore
examples/Spark/simpleapp/.project
examples/Spark/simpleapp/.settings/
examples/Lambdas/.classpath
examples/Lambdas/.project
examples/Spark/pagerank/.classpath
examples/Spark/pagerank/.project
examples/Spark/top-n-patents/.classpath
examples/Spark/top-n-patents/.project
examples/Spark/correlation/.classpath
examples/Spark/correlation/.project
